button {
  background: hsl(14, 100%, 53%);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #FFEBCD
}

th {
  background-color: #4CAF50;
  color: white;
}
.rei {
  border-collapse: collapse;
  width: 30%;
}
