<h2>Hello {{title}}</h2>
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/inventory">Home</a>
    <a class="nav-item nav-link" routerLink="/purchase">Purchase Item</a>
    <a class="nav-item nav-link" routerLink="/logout">Logout</a>
  </div>
</nav>
<hr />
<br />
<div class="jumbotron">
  <div class="container text-center">
   
        <router-outlet></router-outlet>

        <div *ngIf="message$" class="alert alert-success">{{ ( message$ | async)?.text }}</div>
      </div>
</div>
 
